$fullDisplay: 100%;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  background-color: #fafafa;
}

.main-container {
  width: 100%;
  height: 100%;

  position: absolute;

  .header {
    width: $fullDisplay;
    height: $fullDisplay - 60%;

    .header__img_background {
      width: $fullDisplay;
      height: $fullDisplay;
    }

    .header__menu {
      min-width: $fullDisplay;
      max-height: $fullDisplay - 80;

      padding: 0 10% 0 10%;

      position: absolute;
      display: flex;
      justify-content: space-between;


      top: $fullDisplay - 97%;
      left: 0;
      z-index: 1;

      .header__menu__logo {
        color: white;
        font-weight: bold;
        font-size: 23px;
      }

      .header__menu__navigate {
        a {
          color: white;
          text-decoration: none;
          padding: 10px;
          font-size: 18px;
        }
      }
    }
  }

  .bottom {

    max-width: $fullDisplay;
    min-height: $fullDisplay;
    background-color: #fafafa;

    .bottom__element1 {
      max-width: 1000px;
      min-height: 500px;
      background-color: #ffffff;

      border-radius: 15px 15px 15px 15px;

      margin: -3% auto 0 auto;
      position: relative;
      z-index: 5;

      .bottom__element1__smallLogo {
        position: relative;
        top: -10%;
        left: 50%;
        z-index: 5;

        width: 5%;
        height: 17%;
      }

      h1 {
        font-size: 2vw;
        text-align: center;
      }

      h2 {
        color: #7c7c7c;
        font-size: 1.5vw;
        text-align: center;
      }

      .bottom__element1_buttonsKeeper {
        width: 100%;
        height: 20%;

        //background-color: red;
        display: flex;
        justify-content: space-between;

        .bottom__element1_buttonsKeeper__button1 {
          width: 15%;
          height: 70%;
          background-color: #157a74;
          border-radius: 10px;
          border-color: #157a74;
          color: white;

          margin: auto 0 auto 10%;

          font-size: 1.1vw;

        }

        .bottom__element1_buttonsKeeper__element1 {
          margin: auto -30% auto 10%;
          width: 5%;
          height: 70%;
          z-index: 5;
        }

        .bottom__element1_buttonsKeeper__button2 {
          width: 15%;
          height: 70%;
          background-color: #f4f8f9;
          border-color: #f4f8f9;
          border-radius: 10px;

          margin: auto 10% auto 0;

          font-size: 1.1vw;
        }
      }
    }
    .bottom__element2 {
      max-width: 1000px;
      min-height: 500px;
      background-color: #ffffff;

      border-radius: 15px 15px 15px 15px;

      margin: 3% auto 0 auto;
      position: relative;
      z-index: 5;

      display: flex;
      .bottom__element2__section1 {
        width: 33.3%;
        height: 70%;


        .bottom__element2__section1__header {
          width: 100%;
          height: 40%;

          padding-top: 15%;

          font-size: 2vw;
          text-align: center;
          font-weight: bold;
        }

        .bottom__element2__section1__bottom {
          width: 100%;
          height: 50%;

          font-size: 1.1vw;
          text-align: center;
        }
      }

      .bottom__element2__section2 {
        width: 33.3%;
        height: 70%;


        .bottom__element2__section1__header {
          width: 100%;
          height: 50%;

          padding-top: 15%;

          font-size: 2vw;
          text-align: center;
          font-weight: bold;
        }

        .bottom__element2__section1__bottom {
          width: 100%;
          height: 50%;

          font-size: 1.1vw;
          text-align: center;
        }
      }

      .bottom__element2__section3 {
        width: 33.3%;
        height: 70%;

        .bottom__element2__section1__header {
          width: 100%;
          height: 50%;

          padding-top: 15%;

          font-size: 2vw;
          text-align: center;
          font-weight: bold;
        }

        .bottom__element2__section1__bottom {
          width: 100%;
          height: 50%;

          font-size: 1.1vw;
          text-align: center;
        }
      }
  }
    .bottom__element3 {
      background-color: #ffffff;

      max-width: 1000px;
      min-height: 500px;

      border-radius: 15px 15px 15px 15px;

      margin: 3% auto 0 auto;
      position: relative;
      z-index: 5;

      .bottom__element3__header {
        width: 100%;
        height: 30%;
      }

      .bottom__element3__about {
        width: 100%;
        height: 30%;
      }

      .bottom__element3__about__element1 {
        background-color: #157a74;

        max-width: 800px;
        min-height: 300px;

        margin: 3% auto 3% auto;

        border: 2px solid grey;

        .bottom__element3__about__element1__header {
          display: flex;
          justify-content: space-between;
          .bottom__element3__about__element1__header__element1 {
            max-width: 350px;
            min-height: 50px;
          }

          .bottom__element3__about__element1__header__element2 {
            max-width: 350px;
            min-height: 50px;
          }


        }
      }
    }

  }

}
